<!DOCTYPE HTML>
<html>
<head>
</head>
<body>
<h1>Card Act Blahblah</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sollicitudin dictum mollis. Phasellus fringilla, lorem dictum mattis fermentum, metus lorem tempor lectus, ac ultrices sem velit vitae ligula. Proin magna velit, placerat id dictum ut, blandit nec ligula. Nulla facilisi. Vivamus non sem sit amet augue vulputate placerat eget et massa. Ut sagittis bibendum sollicitudin. Maecenas adipiscing lacus at nibh malesuada dignissim. Nunc sem sapien, pharetra vitae aliquam eu, viverra non magna. Aenean sodales tortor fringilla ligula ornare ullamcorper tempor diam blandit. In gravida, felis vitae lobortis aliquet, justo enim semper dolor, vitae sodales justo erat nec est. Aliquam erat volutpat.</p>
<p>Aliquam molestie leo sed turpis iaculis luctus. Nulla suscipit justo cursus turpis euismod gravida. Curabitur malesuada porttitor justo ut consequat. Pellentesque sed luctus nisl. Morbi consectetur ornare tempor. Ut fringilla, risus in congue scelerisque, ipsum sem dapibus dui, vitae bibendum massa magna sed massa. Integer eget egestas metus. Vivamus fermentum egestas nisl quis porttitor. Maecenas ac justo non augue bibendum venenatis. Suspendisse vel auctor metus. Mauris malesuada lobortis pulvinar. Etiam id dui non urna cursus iaculis. Suspendisse potenti. Suspendisse aliquet risus sit amet leo ultrices adipiscing. Nam posuere, neque in ultricies consectetur, nibh nibh facilisis arcu, eu fermentum justo leo vel erat. Integer vulputate, tortor a congue gravida, est felis vulputate lacus, eget vehicula lacus enim ut turpis. Nulla id mauris nec elit sagittis lacinia.</p>
</body>
<div id="getRanking">
<form action="./submit/" method="post">{% csrf_token %}
<input type="hidden" name="id" value="1">
<ol id="test-list">
  <li id="li_1">
    <img src="img/arrow.png" class="handle" alt="move" />
    No interest rate increases on an existing balance unless the cardholder has missed two consecutive payments.    
	<input type="text" name="item_1" value="1" size="2">
  </li>
  <li id="li_2">
    <img src="img/arrow.png" class="handle" alt="move" />
    Payments are applied in consumer-friendly manner, reducing highest-rate balances first.
    <input type="text" name="item_2" value="2" size="2">
  </li>
  <li id="li_3">
    <img src="img/arrow.png" class="handle" alt="move" />
    Monthly statements lists both the date when bill would be paid off if only minimum payments made, and the amount that should be paid in order to fully pay off the bill within three years.
    <input type="text" name="item_3" value="3" size="2">
  </li>
  <li id="li_4">
    <img src="img/arrow.png" class="handle" alt="move" />
    Overlimit fees eliminated unless consumers opt in to special program.
    <input type="text" name="item_4" value="4" size="2">
  </li>
  <li id="li_5">
    <img src="img/arrow.png" class="handle" alt="move" />
    Due dates standardized so consumers not tricked into late payments.
    <input type="text" name="item_5" value="5" size="2">
  </li>
  <li id="li_6">
    <img src="img/arrow.png" class="handle" alt="move" />
    No changes the APR rate without notice 45 days in advance.
    <input type="text" name="item_6" value="6" size="2">
  </li>
</ol>
<input type="submit" id="submitRank" value="Submit my Rankings">
</form>
</div>
<div id="spinbox" style="display: none;"><img src="{{ STATIC_URL }}img/ajax-loader.gif" alt="loading..."></div>
<div id="showResults" style="display: none;">
  <div id="cola">
  <h4>Your ranking:</h4>
  <ol id="yourRanking">
  </ol></div>
  <div id="colb">
  <h4>Aggregate ranking:</h4>
  <ol id="overallRanking">
    <li>This is the third item.</li>
    <li>This is the first item.</li>
    <li>This is the seventh item.</li>
    <li>This is the fifth item.</li>
    <li>This is the second item.</li>
    <li>This is the fourth item.</li>
    <li>This is the sixth item.</li>
  </ol></div>
</div>
</body>
</html>